---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Página no encontrada">

  <h1>Error <span class="text-gradient">404</span></h1>
  <p>Página no encontrada. Vuelva al <a href="index.html">inicio</a></p>
</Layout>

<style>
body{
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  font-size: 6rem;
  text-align: center;
}
.text-gradient{
		color:transparent;
		background-image: linear-gradient(0deg,cyan, var(--primary));

		background-clip: text;
		-webkit-background-clip: text;
	}

</style>